*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

.fundo{
    background: linear-gradient(180deg, rgba(0,0,0,0.8239670868347339) 0%, rgba(0,212,255,0) 100%), url(./imagens/fundo.png);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titulo{
    margin-top: 4%;
    margin-bottom: 1%;
    text-align: center;
}

.titulo h1{
    background: -webkit-linear-gradient(#7b98cd, #834c9998);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    margin-bottom: 2%;
}

.titulo p{
    background: -webkit-linear-gradient(#7b98cd, #834c9998);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.conteudo{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 35%;
    margin-bottom: 1px;
    border-radius: 10px;
    padding: 30px;
    background: -webkit-linear-gradient(#877dbda8, #8a387800);
}

.selecionar select{
    display: flex;
    margin-bottom: 20px;
    width: 35vh;
    height: 4vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #353535;
    background-color: rgb(230, 227, 227);
    list-style: none;
}

.metodo{
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: bold;
    
}

.entrada label{
    font-size: 26px;
    font-weight: bold;
    display: flex;
}

.entrada input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 227, 227)
}

#passos{
    display: none;
}

.entrada button{
    width: 26vh;
    height: 4vh;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(128, 98, 168, 0.568);
    cursor: pointer;
    margin-top: 2%;
}

.entrada button:hover{
    background: rgb(128, 98, 168);
    transition: 0.6s;
}


@media (max-width: 969px), (max-height: 763px){
    .conteudo{
        width: 36%;
    }
}

@media (max-width: 883px), (max-height: 700px){
    .conteudo{
        width: 41%;
    }

    .titulo h1{
        font-size: 50px;
    }

    .titulo p{
        font-size: 30px;
    }

    .selecionar select{
        width: 19vh;
        height: 20px;
        font-size: 15px;
    }

    .metodo{
        font-size: 16px;
    }

    .entrada label{
        font-size: 18px;
    }

    .entrada input{
        padding: 1px 1px 1px 1px;
    }

    .entrada button{
        font-size: 14px;
    }
}

@media (max-width: 654px), (max-height: 547px){
    .conteudo{
        width: 50%;
    }
}

@media (max-width: 500px){
    .conteudo{
        width: 80%;
    }

    .titulo h1{
        font-size: 35px;
    }

    .titulo p{
        font-size: 25px;
    }
}